* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
  /* width: 100%; */
  /* height: 5%; */

  /* border: 10px white; */

  /* margin-top: 40px; */
  


}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  background: #ffffff;
  margin-top: 20px;
    /* margin-bottom: 20px; */
    

}

.bar {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.image {
  width: 90%;
  height: 75px;
  background: #195eff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image > img {
  margin-right: 5px;
  padding-left: 3px;
}

.image > p {
  width: 130px;
  height: 28px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 5px;
}

.main {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.box {
  width: 100%;
  height: 90%;
}

.tab {
  width: 55%;
  margin: 80px auto 0 auto;
  height: 70px;
  background: rgba(178, 201, 255, 0.35);
  border-radius: 5px;
  display: flex;
}

.tab > h1 {
  width: 78%;
  align-self: flex-end;
  padding-left: 3px;
  height: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  color: #0d2f80;
  mix-blend-mode: normal;
}

.tab img {
  width: 90px;
  height: 50px;
  padding-top: 15px;


}

.header {
  padding-bottom: 10px;
  padding-left: 50px;
    padding-right: 50px;

}


.plain{
  background-color: #154ED5;
  height: 70px;
  width: 95px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  gap: 8px;
  align-items: center;
  text-align: center;

}

.edit{
  padding-left: 50px;
    padding-right: 50px;

}

.word{
  padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;

}

.par{
  font-size: 20px;
  line-height: 28px;
  mix-blend-mode: normal;
  color: #3B3B3B;

}

.word p{
    color: #3B3B3B;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-align: center;

}
button {
  align-items: center;
  padding: 16px;
  width: 148px;
  height: 48px;
  /* Primary Color/700 */
  background: #154ed5;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}

#btn {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.but2 {
  width: 50%;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  width: 90%;
  height: 120px;
  background: #113faa;
}

.logo > img {
  display: block;
  width: 150px;
  height: 30px;
  color: #ffffff;
  margin: 69px auto 69px auto;
}

ul {
  width: 100%;
  margin-top: 82px;
  background: #b2c9ff;
  padding: 40px 0 40px 0;
}
.nav {
  background: #b2c9ff;
  width: 90%;
  height: 30%;
}
ul > li {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: #ffffff;
}

li > img {
  display: block;
  margin-right: 8px;
  height: 30px;
}
a {
  display: block;
  text-decoration: none;
  padding-top: 2px;
  color: #0d2f80;
  width: 88px;
  height: 19px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #051333;
}



.footer {
  width: 80%;
  margin-top: 173px;
  text-align: center;
  height: 50px;
  margin-bottom: 70px;
  padding-top: 5px;
}

.footer > p {
  margin: auto;
  padding-left: 22vh;
  padding-bottom: 5px;
  width:100% ;
  height: 15px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.5px;
  color: #081f55;
  
}


